<div class="col-md-2">
  <%= link_to 'Моя литература', teacher_literature_path, class: 'btn btn-default navbar-btn' %>
    <%= link_to 'Мои студенты', my_students_path, class: 'btn btn-default navbar-btn' %>
        <%= link_to 'Домашние задания', teacher_homeworks_path, class: 'btn btn-default navbar-btn' %>
</div>
<div class="col-md-10">
  <h1>Кабинет преподавателя</h1>
  <h3>Домашки на проверку</h3>
    <br>
    <% @pend_hws.each do |hwres| %>
      <h4>Result_id: <%= hwres.id %></h4>
      <h5>Homework_title: <%= hwres.homework_assignment.homework.title %></h5>
      <%= form_for hwres, url: hw_check_path(hwres.id), method: 'put' do |f| %>
        <%= f.hidden_field :is_checked, value: true %>
        <%= f.submit 'Проверить', class: 'btn btn-default' %> <br><br>
      <% end %>
    <% end %>
</div>