<% if status_teacher_time(selection_of_the_cell(time, day))  == "Busy"  %>
  <td class="busy">
  	<%= render 'form_update', day: day, time: time %>
    <%= render 'form_relax', day: day, time: time %>
    <%= render 'form_vacant', day: day, time: time %>
  </td> 
<% elsif status_teacher_time(selection_of_the_cell(time, day))  == "Relax"  %>
  <td class="relax">
  	<%= render 'form_update', day: day, time: time %>
    <%= render 'form_vacant', day: day, time: time %>
  </td>
<% elsif status_teacher_time(selection_of_the_cell(time, day)) == "Vacant"  %>
  <td class="vacant">
  	<%= render 'form_update', day: day, time: time %>
    <%= render 'form_relax', day: day, time: time %>
  </td>
<% end %>