<td align="center" class="busy">
  <div>
    <% if selection_of_the_cell(time, day).student_id.to_i != 0 %>
      <h4><%= student_name(selection_of_the_cell(time, day)) %></h4>
    <% end %>
  </div>
  <button class="btn" data-toggle="modal" data-target="#myModal<%= day + time %>">
    Изменить
  </button>
</td>
 <div class="modal fade" id="myModal<%= day + time %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= day %>-<%= time %>:00</h4>
      </div>
      <div class="modal-body">
        <div>
          <% if selection_of_the_cell(time, day).student_id.to_i != 0 %>
            <h4><%= student_name(selection_of_the_cell(time, day)) %></h4>
          <% end %>
        </div>
       	<%= render 'form_select_student', day: day, time: time %>
        <%= render 'form_relax', day: day, time: time %>
        <%= render 'form_vacant', day: day, time: time %>
        <%= link_to "проведено", new_lesson_path(selection_of_the_cell(time, day)) %>
      </div>
    </div>
  </div>
</div>
