<% if current_user == nil %>
  <h1>Эта страница доступна только для авторизованных пользователей.</h1>
<% elsif current_user.position_id == 2 %>
  <h1>Кабинет преподавателя</h1>
  <h3>Отправить домашку</h3>
    <br>
    <%= form_for @hw_assignment, url: hw_assignment_create_path, method: 'post' do |f| %>
      <%= f.label 'Ученик' %>
      <%= f.collection_select :user_id, User.where(teacher_id: current_user.id), :id, :name %> <br> <br>
      <%= f.label 'Домашка' %>
      <%= f.collection_select :homework_id, Homework.where(user_id: current_user.id), :id, :title %>
      <br> <br>
      <%= f.submit 'Отправить', class: 'btn btn-default' %>
    <% end %>
  <h3>Создать домашку</h3>
  <%= nested_form_for @homework, url: homework_create_path, method: 'post' do |f| %>
    <div style="width:49%;float:left">
      <h4>Описание домашки</h4>
      <%= f.label 'Название' %> <br>
      <%= f.text_field :title %> <br>
      <% f.hidden_field :user_id, value: current_user.id %> <br>
      <br>
      
    </div>
    <div style="width:49%;float:right">
      <br>
      <h4>Прикрепить файл</h4>  
      <%= f.fields_for :text_files do |ff| %>
        <%= ff.label 'Название файла' %> <br>
        <%= ff.text_field :name %> <br>
        <%= ff.label 'Описание' %> <br>
        <%= ff.text_area :description %> <br>
        <%= ff.label 'Файл' %> <br>
        <%= ff.file_field :file %> <br>
        <% ff.hidden_field :pather, value: '' %>
      <% end %>
    </div>
    <%= f.submit %>
  <% end %>
<% elsif current_user.position_id == 1 %>
<h1>Кабинет студента</h1>
  <% unless @hwa == nil
  @hwa.each do |hwa| %>
    <h2><%= hwa.homework.title %></h2> <br>
    <% hwa.homework.text_files.each do |text_file| %>
        <h4>
        Text file: <%= text_file.name %></h4>
        <h5><%= text_file.description %></h5>
        <%= link_to "Скачать", '/text_files/'+text_file.pather.to_s %>
    <% end %>
    <br><br>
    <%= form_for @homework_result, url: hw_result_create_path do |f| %>
      <%= f.hidden_field :is_checked, value: false %>
      <%= f.hidden_field :homework_assignment_id, value: hwa.id %>
      <%= f.submit 'Завершить', class: 'btn btn-default' %>
    <% end %>
  <% end end %>
<% end %>