<h1>Список литературы</h1>

<% if user_signed_in? && current_user.position.title == 'Преподаватель' %>
  <%= form_for :text_file, url: text_file_create_path, method: 'post' do |f| %>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
    <%= f.label :description %> <br>
    <%= f.text_area :description %> <br>
    <%= f.label :file %> <br>
    <%= f.file_field :file %> <br>
    <%= f.submit 'Создать' %>
  <% end %>
<% end %>

<ol>
  <% @text_files.each do |text_file| %>
    <h3><li>
    	<%= text_file.name %></h3>
      <h4><%= text_file.description %></h4>
      <% if user_signed_in? %>
        <%= link_to "Скачать", '/text_files/'+text_file.pather.to_s %>
      <% end %>
      <% if user_signed_in? && current_user.position.title == 'Преподаватель'  %>
        <% if text_file.user == current_user %>
          <%= link_to 'Удалить', text_file_destroy_path(text_file.id), method: 'delete' %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ol>