<h1>Список литературы</h1>

<% if user_signed_in? && current_user.position.title == 'Преподаватель' %>
  <%= simple_form_for :library_file, url: library_file_create_path, method: 'post' do |f| %>
    <%= f.label :name %> <br>
    <%= f.text_field :name %> <br>
    <%= f.label :description %> <br>
    <%= f.text_area :description %> <br>
    <%= f.label :file %> <br>
    <%= f.file_field :file %> <br>
    <%= f.submit 'Создать' %>
  <% end %>
<% end %>

<ol>
  <% @library_files.each do |library_file| %>
    	<h3><li><%= library_file.name %></h3>
      <h4><%= User.find(library_file.user_id).name %></h4>
      <h4><%= library_file.description %></h4>
      <% if user_signed_in? %>
        <%= link_to "Скачать", '/library_files/'+library_file.pather.to_s %>
      <% end %>
      <% if user_signed_in? && current_user.position.title == 'Преподаватель'  %>
        <% if library_file.user == current_user %>
          <%= link_to 'Удалить', library_file_destroy_path(library_file.id), method: 'delete' %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ol>