<div class="container">
	<%= form_tag('/result', method: 'get') do %>
	  <div class="list-group">
	  	<% count = 1 %>
      <% cnt = 1 %>
			<% @questions.each do |question| %>
				<div class="well well-lg">
					<ul class="list-group">
					  <h3><li class="list-group-item list-group-item-info">
					  	<span style="cursor:default">
					  		<%= count %>. <%= question.content %>
					  	</span>
					  </li></h3>
					</ul>
					<ol type="a">
						<% question.answers.order("RANDOM()").each do |answer| %>
						  	<label class="answer_block" for="<%= question.id %>_<%=answer.id %>">
						  		<a class="list-group-item answer">
						  			<li>
                      <span id="answer_<%= cnt %>"><%= radio_button_tag question.id, answer.id %></span>
						  			  <span> <%= answer.content %></span>
						  			</li>
						  		</a>
					  		</label> 
                <% cnt += 1 %>
						<% end %>
					</ol>
				</div>
	  		<% count += 1 %>
		 	<% end %>
	  </div>
	  <%= submit_tag 'Завершить', class: 'btn btn-success', id: 'register', disabled: 'disabled' %>
	<% end %>
</div>

<script>
	(function() {
    setInterval(function() {
        var cnt = 0
        $('form :input[type=radio]').each(function() {
            if ($(this).prop("checked") == true) {
              cnt ++
            }
        });

        if (cnt != 20) {
            $('#register').attr('disabled', 'disabled');
        } else {
            $('#register').removeAttr('disabled');
      }
    }, 1000);
  })()
</script>