<% @questions.each do |q| %>
  <br>
  <h1><%= q.id %> <%= q.level.name %></h1> <%= q.content %>
  <% q.answers.order("RANDOM()").each do |a| %>
    <br>
    <%= a.content %>
    <%= radio_button_tag(:is_correct) %>
    <br>
  <% end %>
  <br>
<% end %>