<h1>Кабинет студента "<%= @user_id.name %>" <%= image_tag @user_id.avatar.url(:thumb) %></h1>
<table>
  <tr>
    <th>Название ДЗ</th>
    <th>Описание ДЗ(описание прикрепленного файла)</th>
    <th>Файл</th>
    <th>Статус ДЗ</th>
  </tr>
  <% @homework_assignment.each do |homework_assignment| %>
    <tr>
      <% if current_user.position_id == 1 %>
        <td><%= link_to homework(homework_assignment).title, show_student_homework_path(homework_assignment) %></td>
        <% homework_assignment.homework.homework_files.each do |homework_file| %>
          <td><%= homework_file.description %></td>
          <% unless homework_file.file_file_name == nil %>
              <td><%= homework_file.file_file_name %>/
                <%= link_to "Скачать", '/homework_files/' + homework_file.file_file_name.to_s,
                            download: homework_file.file_file_name.to_s %></td>
          <% else %>
              <td>отсутствует</td>
          <% end %>
        <% end %>
        <td><%= status_homework(homework_assignment) %></td>
      <% elsif current_user.position_id == 2 %>
          <td><%= homework(homework_assignment).title %></td>
          <% homework_assignment.homework.homework_files.each do |homework_file| %>
              <td><%= homework_file.description %></td>
              <% unless homework_file.file_file_name == nil %>
                  <td><%= homework_file.file_file_name %></td>
              <% else %>
                  <td>отсутствует</td>
              <% end %>
          <% end %>
          <td><%= status_homework(homework_assignment) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<div>
	<%= student_timetable(current_user) %>
</div>