<h1>Кабинет студента "<%= @user_id.name %>" <%= image_tag @user_id.avatar.url(:thumb) %></h1>
<table>
  <tr>
    <th>Название ДЗ</th>
    <th>Описание ДЗ(или описание файла преподавателя)</th>
    <th>Файл преподавателя</th>
    <th>Описание ДЗ студента</th>
    <th>Файл студента</th>
    <th>Статус ДЗ</th>
  </tr>
  <% @homework_assignment.each do |homework_assignment| %>
    <tr>
        <td><%= link_to homework(homework_assignment).title, show_student_homework_path(homework_assignment) %></td>
        <% homework_assignment.homework.homework_files.each do |homework_file| %>
          <td><%= homework_file.description %></td>
          <% unless homework_file.file_file_name == nil %>
              <td><%= homework_file.file_file_name %>/
                <%= link_to "Скачать", '/homework_files/' + homework_file.file_file_name.to_s,
                            download: homework_file.file_file_name.to_s %></td>
          <% else %>
              <td>отсутствует</td>
          <% end %>
        <% end %>
        <% if homework_assignment.homework_result == nil %>
          <td>не сделано</td>
          <td>не сделано</td>
        <% else %>
          <td><%= homework_assignment.homework_result.description %></td>
          <% unless homework_assignment.homework_result.file_file_name == nil %>
              <td><%= homework_assignment.homework_result.file_file_name %>/
                <%= link_to 'скачать', '/homework_results/' + homework_assignment.homework_result.file_file_name.to_s,
                            download: homework_assignment.homework_result.file_file_name.to_s %></td>
          <% else %>
              <td>отсутствует</td>
          <% end %>
        <% end %>
        <td><%= status_homework(homework_assignment) %></td>
    </tr>
  <% end %>
</table>

<h3>Расписание</h3>
<table>
  <tr>
    <% @days_of_week.each do |day| %>
      <td><%= day %></td>
    <% end %>
  </tr>
  <tr>
    <% @days_of_week.each do |day| %>
      <td>
        <% student_timetable(current_user).each do |table| %>
          <% if table.day_of_week == day %>
            <%= table.time %>:00
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>
