<h1>Кабинет студента <span style="color: red"><%= @user_id.name %></span> <%= image_tag @user_id.avatar.url(:thumb) %></h1>
<table>
  <tr>
    <th>Название ДЗ</th>
    <th>Описание ДЗ(или описание файла преподавателя)</th>
    <th>Файл преподавателя</th>
    <th>Описание ДЗ студента</th>
    <th>Файл студента</th>
    <th>Статус ДЗ</th>
  </tr>
  <% @homework_assignment.each do |homework_assignment| %>
    <tr>
      <% if homework_assignment.homework.type_homework == 'File' %>
          <td><%= link_to homework(homework_assignment).title, show_student_homework_path(homework_assignment) %></td>
          <% homework_assignment.homework.homework_files.each do |homework_file| %>
            <td><%= homework_file.description %></td>
            <% unless homework_file.file_file_name == nil %>
                <td><%= homework_file.file_file_name %>/
                  <%= link_to "Скачать", '/homework_files/' + homework_file.file_file_name.to_s,
                              download: homework_file.file_file_name.to_s %></td>
            <% else %>
                <td></td>
            <% end %>
          <% end %>
          <% if homework_assignment.homework_result == nil %>
            <td></td>
            <td></td>
          <% else %>
            <td><%= homework_assignment.homework_result.description %></td>
            <% unless homework_assignment.homework_result.file_file_name == nil %>
                <td><%= homework_assignment.homework_result.file_file_name %>/
                  <%= link_to 'скачать', '/homework_results/' + homework_assignment.homework_result.file_file_name.to_s,
                              download: homework_assignment.homework_result.file_file_name.to_s %></td>
            <% else %>
                <td></td>
            <% end %>
          <% end %>
          <td><%= status_homework(homework_assignment) %></td>
      <% elsif homework_assignment.homework.type_homework == 'Question' %>
        <% if current_user.position_id == 1 %>
          <td>
            <%= link_to homework_assignment.homework.title, show_student_homework_path(homework_assignment) %>
          </td>
        <% elsif current_user.position_id == 2 %>
          <td>
            <%= link_to homework_assignment.homework.title, show_homework_path(homework_assignment.homework) %>
          </td>
        <% end %>
        <td>Тест</td>
        <td>Тест</td>
        <td>Тест</td>
        <% unless homework_assignment.homework_result == nil %>
          <td><%= link_to "Просмотр теста", show_result_question_path(homework_assignment.homework_result.id) %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= status_homework(homework_assignment) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<% if current_user.position_id == 1 %><br>
  <%= image_tag @user_id.teacher.avatar.url(:thumb) %>
  <h6>Мой преподаватель <span style="color: red"><%= @user_id.teacher.name %></span></h6>
  <h6>Skype: <span style="color: green"><%= @user_id.teacher.skype %></span></h6>
  <h6>Почта: <span style="color: green"><%= @user_id.teacher.email %></span></h6>
  <h6>Телефон: <span style="color: green"><%= @user_id.teacher.phone %></span></h6>
<% end %>
<h3>Расписание</h3>
<table>
  <tr>
    <% @days_of_week.each do |day| %>
        <td><%= day %></td>
    <% end %>
  </tr>
  <tr>
    <% @days_of_week.each do |day| %>
        <td>
          <% student_timetable(current_user).each do |table| %>
              <% if table.day_of_week == day %>
                  <%= table.time %>:00
              <% end %>
          <% end %>
        </td>
    <% end %>
  </tr>
</table> 