<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Создание домашнего задания</h3>
    </div>
    <div class="panel-body">
      <br>
        <%= link_to 'Создать задание', new_homework_path, class: 'btn btn-default navbar-btn' %><br>
        <%= link_to 'Создать тест', new_homework_question_path, class: 'btn btn-default navbar-btn' %><br>
        <%= link_to 'Записать звуковое сообщение', record_path, class: 'btn btn-default navbar-btn' %>
    </div>
  </div>
</div>
<div class="col-md-9">
  <table>
    <tr>
      <th>Название ДЗ</th>
      <th>Описание ДЗ(описание прикрепленного файла)</th>
      <th>Файл</th>
      <th>Действие</th>
    </tr>
    <% @homeworks.each do |homework| %>
      <tr>
        <% if homework.type_homework == 'File' %>
          <td><%= link_to homework.title, show_homework_path(homework) %></td>
            <% homework.homework_files.each do |homework_file| %>
              <td><%= homework_file.description %></td>
              <% unless homework_file.file_file_name == nil %>
                <td><%= homework_file.file_file_name %>/
                  <%= link_to "Скачать", '/homework_files/' + homework_file.file_file_name.to_s,
                              download: homework_file.file_file_name.to_s %></td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>
        <% else %>
          <td><%= homework.title %></td>
          <td>тест</td>
          <td></td>
        <% end %>
        <td><%= link_to 'Удалить', homework_destroy_path(homework.id), method: 'delete',
                        data: { confirm: "Вы уверены, что хотите удалить это?"} %></td>
      </tr>
    <% end %>
    </table>
</div>
