  <%= simple_form_for :library_file, url: library_file_create_path, method: 'post' do |f| %>
    <%= f.label "Наименование" %> <br>
    <%= f.text_field :name %> <br>
    <%= f.label "Описание" %> <br>
    <%= f.text_area :description %> <br>
    <%= f.label "Файл" %> <br>
    <%= f.file_field :literature %> <br>
    <%= f.submit 'Добавить' %>
  <% end %>

<% @literatures.each do |library_file| %>
	<div><%= library_file.name %> 
	<%= link_to "Скачать", '/library_files/'+library_file.path_file.to_s %> 
	<%= link_to 'Удалить', library_file_destroy_path(library_file.id), method: 'delete' %></div>
<% end %>