<h1>Кабинет студента</h1>
<% unless @hwa == nil %>
<h1>Невыполненные домашки</h1>
      <% @hwa.each do |hwa| %>
        <%= hwa.homework_status.id %>
        <h2><%= hwa.homework.title %></h2> <br>
        <% hwa.homework.homework_files.each do |homework_file| %>
            <h5><%= homework_file.description %></h5>
            <%= link_to "Скачать", '/homework_files/'+homework_file.pather.to_s %>
        <% end %>
        <br><br>
        <%= form_for hwa, url: update_hwassignment_path(hwa.id), method: 'put' do |f| %>
            <%= f.hidden_field :homework_status_id, value: 2 %>
            <%= f.submit 'Завершить', class: 'btn btn-default' %>
        <% end %>
<% end end %>
<h1>------------------------------------------------------</h1>
<% unless @hwd == nil %>
    <h1>Выполненные домашки</h1>
    <% @hwd.each do |hwd| %>
        <h2><%= hwd.homework.title %></h2> <br>
        <% hwd.homework.homework_files.each do |homework_file| %>
            <h5><%= homework_file.description %></h5>
            <%= link_to "Скачать", '/homework_files/'+homework_file.pather.to_s %>
        <% end %>
<% end end %>