<div>
  <% if @status_name == 'Sent' %>
    <%= simple_form_for @new_homework_result, url: result_homework_path, method: 'post' do |result|  %>
      <% @homework.homework_questions.each do |question| %>
        <div>
          <h3>Вопрос: <span class="for_special_color_word_1"><%= question.title %></span></h3>
        </div>
        <% question.homework_answers.each do |answer| %>
          <div>
            <h3><%= check_box_tag answer.id %>  <span class="for_green_words"><%= answer.title %></span></h3>
          </div>
        <% end %><br>
      <% end %>
      <%= result.hidden_field :homework_assignment_id, value: homework_result(@homework_assignment.id) %>
      <%= submit_tag 'Завершить Тест', class: 'btn btn-success' %>
    <% end %>
    </br>
  <% else %>
      <h1>Тест завершен</h1>
  <% end %>
  <%= link_to 'назад', :back %>
</div>