<div>
	<% @homework.homework_files.each do |homework_file| %>
	  <h3>Описание ДЗ:</h3><h5 style="color:red"><%= homework_file.description %></h5>
    <% unless homework_file.file_file_name == nil %>
	    <h3>Файл: <h3 style="color:forestgreen"><%= homework_file.file_file_name %></h3><%= link_to "Скачать", '/homework_files/' + homework_file.file_file_name,
                  download: homework_file.file_file_name %></h3>
    <% else %>
      <h3 style="color:red">Файл отсутствует</h3>
    <% end %>
	<% end %>
</div>
<% if @status_name == "Sent" && current_user.position_id == 1 %>
	<div>
		<%= simple_form_for @new_homework_result, url: result_homework_path, method: 'post' do |result|  %>
			<%= result.input :description  %>
			<%= result.hidden_field :homework_assignment_id, value: homework_result(@homework_assignment.id) %>
	      <%= result.file_field :file %> <br>
	      <% result.hidden_field :pather, value: '' %>
			<%= result.submit %>
		<% end %>
	</div>
<% end %>
