<div>
	<h3>Название ДЗ(Тест): <span style="color:red"><%= @homework.title %></span></h3>
	<% @homework.homework_questions.each do |question| %>
		<div>
			<h3>Вопрос:<span style="color:red"><%= question.title %></span></h3>
		</div>
		<% question.homework_answers.each do |answer| %>
			<div>
				<h4><span style="color:green"><%= answer.title %></span> <%= status_answer(@array_answers, answer) %> </h4>
			</div>
		<% end %><br><br>
	<% end %>
  <%= link_to 'назад', :back %>
</div>
