<%= simple_form_for @homework, url: create_homework_question_path do |f| %>
  <p>
    <%= f.hidden_field :type_homework, value: 'Question' %>
    <%= f.label "Наименование Теста" %><br />
    <%= f.text_field :title %>
  </p>
  <% f.simple_fields_for :homework_questions do |builder| %>
    <%= render "homework_question_fields", f: builder %>
  <% end %>
  <p><%= link_to_add_fields "Создать вопрос", f, :homework_questions %></p>
  <p><%= f.submit "Сохранить тест", url: create_homework_question_path %></p>
<% end %>