<div class="fields">
  <p>
    <%= f.label :title, "Вопрос" %>
    <%= link_to_remove_fields "удалить вопрос", f %><br />
    <%= f.text_area :title, :rows => 3 %>
  </p>
  <% f.simple_fields_for :homework_answers do |builder| %>
    <%= render 'homework_answer_fields', f: builder %>
  <% end %>
  <p><%= link_to_add_fields "Добавить вариант ответа", f, :homework_answers %></p>
</div>