<div class="col-md-12">
	<% if @type == "File" %>
		<h3>Название ДЗ:</h3><%= @homework.title %>
    <h3>----------------------------------------------</h3>
		<% @homework.homework_files.each do |homework_file| %>
		  <h3>Описание ДЗ:</h3><%= homework_file.description %>
      <h3>----------------------------------------------</h3>
      <% unless homework_file.file_file_name == nil %>
        <h3>Наименование файла:</h3><%= homework_file.file_file_name %><br><br>
		    <h3><%= link_to "Скачать", '/homework_files/' + homework_file.file_file_name,
                    download: homework_file.file_file_name %></h3>
      <% else %>
        <h3>Файл отсутствует</h3>
      <% end %>
      <h1>----------------------------------------------</h1>
		<% end %>
	<% elsif @type == "Question" %>
		<% @homework.homework_questions.each do |question| %>
		    <div class="col-md-12">
			  	<h3><%= question.title %></h3>
			  </div>
			   <% question.homework_answers.each do |answer| %>
		      <div class="col-md-12">
			   	  <h6><%= answer.title %> <%= answer.is_correct ? "правильный ответ" : " " %> </h6>
			   	</div>
			  <% end %>
		<% end %>
	<% end %>
</div>