<!DOCTYPE html>
<html>
  <head>
    <title>Esdp20163</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="http://lab.subinsb.com/projects/jquery/core/jquery-2.1.1.js"></script>
  <script src="http://lab.subinsb.com/projects/jquery/voice/recorder.js"></script>
  <script src="http://lab.subinsb.com/projects/jquery/voice/jquery.voice.min.js"></script>
  <script src="record.js"></script>
  </head>

  <body>
    <%= render 'layouts/application/navbar' %>
    
    <div class="container">
    
      <%= flash_messages %>
    	<%= yield %>

    </div>
  </body>
</html>
